<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <link href="catalogo.css" rel="stylesheet">
    <title>Catalogo</title>
    <link rel="icon" type="image/svg+xml" href="/flor.svg">
</head>

<body>

    <div class="header">
        <a href="./index.html" id="logo"><img src="logo.svg" alt=""></a>
        <input type="text" id="pesquisa">

        <div>
            <a href="/user"><img src="user.png" id="user"></a>
            <a href="/cart"><img src="cart.png" id="cart"></a>
        </div>
    </div>
    <div class="navbar">
        <a href="./catalogo" class="link">Catálogo</a>
        <a href="/contato" class="link">Contato</a>
        <a href="/sobre" class="link">Sobre Nós</a>
    </div>

    <div class="catalogo">
        <div class="filtro">
            <h2>FILTROS</h2>
            INTERVALO DE PREÇO<br><br>
            entre
            <input class="intervalo" type="number"> e
            <input class="intervalo" type="number">
            <br><p id="problemas">PROBLEMAS</p>
            <input type="checkbox"> Diabétes<br>
            <input type="checkbox"> Colesterol<br>
            <input type="checkbox"> Pressão alta<br>
            <input type="checkbox"> Pressão baixa<br>
        </div>
        <div class="resultados">
            <div class="prod1">
                <div class="prod">
                    <img class="noimage" src="./noimage.jpg">
                    <h3>Produto Título</h3>
                    <p>Isso é uma breve descrição do<br>produto</p>
                    <img src="./estrelas.png" class="estrela">
                    <div class="preço">
                        <p class="preco">R$ 300</p>
                        <p class="preco2">R$499</p>
                    </div>
                    <a href="./cart"><a href="./cart"><button class="comprar">ADICIONAR AO CARRINHO</button></a>
                </div>
            </div>
    
            <div class="prod3">
                <div class="prod">
                    <img class="noimage" src="./noimage.jpg">
                    <h3>Produto Título</h3>
                    <p>Isso é uma breve descrição do<br>produto</p>
                    <img src="./estrelas.png" class="estrela">
                    <div class="preço">
                        <p class="preco">R$ 300</p>
                        <p class="preco2">R$499</p>
                    </div>
                    <a href="./cart"><button class="comprar">ADICIONAR AO CARRINHO</button></a>
                </div>
            </div>
    
            <div class="prod2">
                <div class="prod">
                    <img class="noimage" src="./noimage.jpg">
                    <h3>Produto Título</h3>
                    <p>Isso é uma breve descrição do<br>produto</p>
                    <img src="./estrelas.png" class="estrela">
                    <div class="preço">
                        <p class="preco">R$ 300</p>
                        <p class="preco2">R$499</p>
                    </div>
                    <a href="./cart"><button class="comprar">ADICIONAR AO CARRINHO</button></a>
                </div>
            </div>
    
            <div class="prod4">
                <div class="prod">
                    <img class="noimage" src="./noimage.jpg">
                    <h3>Produto Título</h3>
                    <p>Isso é uma breve descrição do<br>produto</p>
                    <img src="./estrelas.png" class="estrela">
                    <div class="preço">
                        <p class="preco">R$ 300</p>
                        <p class="preco2">R$499</p>
                    </div>
                    <a href="./cart"><button class="comprar">ADICIONAR AO CARRINHO</button></a>
                </div>
            </div>
    
            <div class="prod5">
                <div class="prod">
                    <img class="noimage" src="./noimage.jpg">
                    <h3>Produto Título</h3>
                    <p>Isso é uma breve descrição do<br>produto</p>
                    <img src="./estrelas.png" class="estrela">
                    <div class="preço">
                        <p class="preco">R$ 300</p>
                        <p class="preco2">R$499</p>
                    </div>
                    <a href="./cart"><button class="comprar">ADICIONAR AO CARRINHO</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</body>

</html>
