
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FCF5E5; 
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 20;
    font-style: normal;
  }
  

.header {
    background: #94c08f; 
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisa {
    margin-left: 20px;
    padding: 10px; 
    border: none;
    border-radius: 4px;
    width: 1500px; 
}

.navbar {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 10px;
}

.link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.produtos {
    padding: 20px;
    background: #fffaf0; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px; 
}

.produtos h2 {
    text-align: center; 
    margin-bottom: 20px;
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}


.prod {
    border: 1px solid #ddd; 
    border-radius: 5px;
    width: 200px; 
    margin: 10px; 
    padding: 10px; 
    text-align: center; 
}

.prod img {
    max-width: 100%; 
    height: auto;
}


#maisvendido {
    text-align: center; 
    margin: 20px 0;
}

.maisvendido {
    display: flex;
    justify-content: space-around; 
    flex-wrap: nowrap; 
}

.comprar {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
}

.comprar:hover {
    background-color: #218838; 
}

footer {
    text-align: center; 
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    position: relative;
    bottom: 0;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.header img {
    width: 30px; 
    height: 30px; 
    margin-left: 20px; 
    margin-right: 10px;
}

#logo{
width: auto;
margin-left: 0%;
}